<style>
    #dropdownIcon {
        height: 6px !important;
        margin-left: 12px !important;
        margin-top: 12px !important;
        width: 10px !important;
    }

    #user-settings {
        height: 16px !important;
        margin-left: 18px !important;
        margin-right: 5px !important;
        margin-top: 16px !important;
        width: 16px !important;
        display: block;
        float: left;
    }

    #user-logout {
        height: 16px !important;
        margin-left: 18px !important;
        margin-right: 5px !important;
        margin-top: 16px !important;
        width: 16px !important;
        display: block;
        float: left;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    #userImage {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin: -5px 0 0 0;
    }

    #user-icon {
        height: 18px !important;
        margin-left: 18px !important;
        margin-right: 5px !important;
        margin-top: 15px !important;
        width: 15px !important;
        display: block;
        float: left;
    }
</style>
<div class="nav-wrapper" ng-controller="HeaderCtrl">
    <a ui-sref='wall' class="floatLeft logo"><img src="assets/icons/logo-icon.png"></a>
    <ul class="nav-menu floatRight">
        <li>
            <a ui-sref='wall' class="link active wall"><img src="assets/icons/home-icon.png"
                                                            style="height: 28px !important; width:30px !important;">
            </a>
        </li>
        <li>
            <a  class="link messages msg-dd-show"><img src="assets/icons/message-icon.png"
                                                             style="height: 27px !important; width:29px !important;">
                <div class="clearFix"></div>
                <span ng-if="newMessage.length!=0" class="status">{{newMessage.length}}</span>
            </a>
            <div class="clearFix"></div>
                        <div class="msg-dd">
                            <div class="menu-topborder"></div>
                            <div class="msg-DD-userinfo-container floatLeft">
                                <div class="msg-DD-userinfo floatLeft">
                                    <a href="javascript:void(0)" class="msg-DD-userifno-bar floatLeft">
                                        <img src="assets/icons/user-icon.png" class="floatLeft">

                                        <p class="floatLeft msg-DD-username skyblue-color">Patrick parker</p>

                                        <p class="floatLeft msg-DD-msg">hello sameer h r u i was calling last night</p>

                                        <div class="clearFix"></div>
                                        <span class=" msg-DD-time">1 hour ago</span>
                                    </a>
                                </div>
                                <div class="msg-DD-userinfo floatLeft">
                                    <a href="javascript:void(0)" class="msg-DD-userifno-bar floatLeft">
                                        <img src="assets/icons/user-icon.png" class="floatLeft">

                                        <p class="floatLeft msg-DD-username skyblue-color">Patrick parker</p>

                                        <p class="floatLeft msg-DD-msg"> i was calling last hello sameer h r u i was calling last night</p>

                                        <div class="clearFix"></div>
                                        <span class=" msg-DD-time">1 min</span>
                                    </a>
                                </div>
                                <div class="show-more">
                                    <a ui-sref='messages'  href="javascript:void(0)" class="show-more-text">see all</a>
                                </div>
                            </div>
                        </div>
        </li>
        <li>
            <!-- <a ui-sref='messages' class="link"><img src="assets/icons/friends-icon.png"
                                                    style="height: 26px !important; width:32px !important;"> -->
            <a ui-sref='networks' class="link"><img src="assets/icons/friends-icon.png" style="height: 26px !important; width:32px !important;">

                <div class="clearFix"></div>
            </a>
        </li>
        <li>
            <a  href="javascript:void(0)" class="link notifications noti-dd-show"><img src="assets/icons/notification-icon.png"
                                                                       style="height: 26px !important; width:23px !important;">

                <div class="clearFix"></div>
                <span ng-if="notification.length!=0" class="status">{{notification.length}}</span>
                <span ng-if="notifications.length!=0" class="status">{{notifications.length}}</span>
                <div class="clearFix"></div>
            </a>
            <div class="clearFix"></div>
                        <div class="noti-dd">
                            <div class="menu-topborder"></div>
                            <div class="notification-DD-userinfo-container floatLeft">
                                <div class="notification-DD-userinfo floatLeft">
                                    <a href="javascript:void(0)" class="noti-DD-userifno-bar floatLeft">
                                        <img src="assets/icons/user-icon.png" class="floatLeft">

                                        <p class="floatLeft noti-DD-username black-color">Patrick parker</p>
                                        <span class="floatLeft noti-DD-status black-color">liked your</span>
                                        <span class="floatLeft noti-DD-posttag black-color">Post</span>

                                        <div class="clearFix"></div>
                                        <span class=" noti-DD-time">1 hour ago</span>
                                    </a>
                                </div>
                                <div class="notification-DD-userinfo floatLeft">
                                                        <a href="javascript:void(0)" class="noti-DD-userifno-bar floatLeft">
                                                            <img src="assets/icons/user-icon.png" class="floatLeft">

                                                            <p class="floatLeft noti-DD-username black-color">Patrick parker</p>
                                                            <span class="floatLeft noti-DD-status black-color">liked your</span>
                                                            <span class="floatLeft noti-DD-posttag black-color">Post</span>

                                                            <div class="clearFix"></div>
                                                            <span class=" noti-DD-time">1 hour ago</span>
                                                        </a>
                                                    </div>
                                <div class="show-more">
                                <a ui-sref='notifications' href="javascript:void(0)" class="show-more-text">see all</a>
                                </div>
                            </div>
                        </div>
        </li>
        <div class="nav-vertical-divider floatLeft"></div>
        <li>
            <a id="flip"><img id="userImage" class="floatLeft" src="{{window.UserImage}}">
                <span style="cursor: pointer;" class="floatLeft">{{window.UserName}}</span>
                <img class="floatLeft" id="dropdownIcon" src="assets/icons/dropdown-icon.png">

                <div class="clearFix"></div>

            </a>

            <div class="clearFix"></div>
            <div id="menu">
                <!--<div id="arrow"></div>-->
                <div id="borderLeft"></div>
                <a ui-sref="profile.posts({ Id:window.userId })"><img id="user-icon" src="assets/icons/nav-user-icon.png">Profile</a>
                <a href="#"><img id="user-settings" src="assets/icons/profile-setting-icon.png">Settings </a>
                <a ui-sref='auth.logout'><img id="user-logout" src="assets/icons/shear-icon.png">Logout</a>
                <!--  <a href="#">Edit Slider <i id="fourthIcon" class="fa fa-pencil"></i></a> -->
            </div>
            <!--<div class="panel">
                <div class="proView">
                    <ul>
                        <li class="viewpro"><a ui-sref="profile.posts({ Id:window.userId })">View Profile</a>
                        </li>
                        <li class="setigs"><a href="#">Settings</a>
                        </li>
                        <li class="setigsA"><a ui-sref='auth.logout'>LogOut</a>
                        </li>
                    </ul>
                </div>-->
        </li>

    </ul>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        // var url= window.location.href;
        //     var lastSegment = url.split('/').pop();
        //     console.log(lastSegment);
        //     $('.nav-menu').find(lastSegment);
        //     $('.link').removeClass('active');
        //     $('.'+lastSegment).addClass('active');

        $("body").delegate('.link', 'click', function () {
            $('.link').removeClass('active');
            $(this).addClass('active');
        });
        var donot_closePopup;
                $("body").delegate('#flip', 'click', function () {
                    donot_closePopup = true;
                    $(".msg-dd").hide();
                    $(".noti-dd").hide();
                    $("#menu").show();
                    setTimeout(function () {
                        donot_closePopup = false;
                    }, 400);
                });
                $("body").delegate('.noti-dd-show', 'click', function () {
                    donot_closePopup = true;
                    $(".msg-dd").hide();
                    $("#menu").hide();
                    $(".noti-dd").show();
                    setTimeout(function () {
                        donot_closePopup = false;
                    }, 400);
                });
                $("body").delegate('.msg-dd-show', 'click', function () {
                    donot_closePopup = true;
                    $("#menu").hide();
                    $(".noti-dd").hide();
                    $(".msg-dd").show();
                    setTimeout(function () {
                        donot_closePopup = false;
                    }, 400);
                });
                $(document).delegate('*', 'click', function () {
                    if (donot_closePopup == true) {
                        return false;
                    }
                    $("#menu").hide();
                    $(".noti-dd").hide();
                    $(".msg-dd").hide();
                });

        /*Setting the Navbar Active Links*/
        var currActive = $(".nav").find(".actve");
        currActive.removeClass("actve");

        var url = document.URL;
        url = url.split('/');
        url = url[url.length - 1];
        if (url === "wall") {
            $(".nav li a:contains('Campus')").addClass("actve");
        } else if (url === "messages") {
            $(".nav li a:contains('Messages')").addClass("actve");
        } else if (url === "notifications") {
            $(".nav li a:contains('Notifications')").addClass("actve");
        } else {

        }

        $(".nav li a").click(function () {
            var currActive = $(".nav").find(".actve");
            currActive.removeClass("actve");

            $(this).addClass("actve")
        });

    });
</script>